@use "./reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Inter, sans-serif;
	@extend %unscroll;
}

.container {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 10px;
}

html {
	color-scheme: dark;
 
}

 
body {
	background: #000;
}

.my-phone-input {
  background: rgb(49, 49, 49) !important;
  border: 1px solid rgb(71, 71, 71) !important;
  color: white !important;

  input {
    color: white !important;
    border-left: 1px solid rgb(71, 71, 71) !important;
		width: 100% !important;
  }
}


.notify.success {
  background: #2ba746 !important;
  color: white !important;
}
 